@font-face {
	font-family: FiraMono;
	src: url("file:///android_asset/FiraMono-Regular.otf")
}
@font-face {
	font-family: FiraMonoBold;
	src: url("file:///android_asset/FiraMono-Bold.otf")
}
@font-face {
	font-family: BoosterNextFY;
	src: url("file:///android_asset/BoosterNextFY-Medium.otf")
}
@font-face {
	font-family: BoosterNextFY_Bold;
	src: url("file:///android_asset/BoosterNextFY-Bold.otf")
}
body {
	font-family: BoosterNextFY;
	margin-left: 0;
	margin-right: 0;
	background-color: transparent;
	margin: 0;
	overflow: hidden;
}
.poster {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: -1;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.transcript {
	line-height: 1.4;
}
.new-word {
	text-decoration: none;
	font-family: BoosterNextFY_Bold;
}
header {
	position: absolute;
	/*top: 0;*/
	left: 0;
	width: 100%;
	/*padding: 20px 10px;*/
}
.hidden {
	visibility: hidden;
	display: none;
}
.container {
	overflow-y: auto;
}
h1 {
	margin-top: 24px;
	margin-bottom: 0;
	font-family: BoosterNextFY_Bold;
	/*text-shadow: 0 1px 0 black;*/
}
h3 {
	margin-top: 0;
}


.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > div {
	float: left;
	width: 20px;
	position: relative;
	overflow: hidden;
}


.faq {
	counter-reset: my-badass-counter;
}
.faq dt {
	position: relative;
	font-family: BoosterNextFY_Bold;
	padding: 4px 0 10px 0;
}
.faq dt:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
	position: absolute;
	left: 0;
	top: 0;
	font: bold 50px/1 BoosterNextFY_Bold;
}
.faq dd {
	margin: 0 0 32px 0;
}	
.faq dt, .faq dd {
	padding-left: 50px;
}

dl.inline dt {
	display: inline-block;
	min-width: 100px;
}
dl.inline dd {
	display: inline;
	margin: 0;
}

#page-indicator {
	width: 100%;
	position: absolute;
	z-index: 1;
	text-align: center;
	display: none;
}
.dot {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	/* background-color: #8999A6; */
}
.dot.active {
	/* background-color: azure; */
}


.card {
	position: relative;
	margin: 10px;
	transition: box-shadow .25s;
	border-radius: 2px;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.2);
	max-width: 100%;
}
.card .card-image {
	position: relative;
}
.card .card-image img {
	display: block;
	border-radius: 2px 2px 0 0;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
}
.card .card-image .card-title {
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
	text-transform: uppercase;
	background-color: black;
	opacity: 0.7;
}
.card .card-title {
	font-size: 24px;
	font-weight: 300;
}
.card .card-content {
	border-radius: 0 0 2px 2px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}
.card .card-action {
	border-top: 1px solid rgba(0,0,0,0.2);
	padding: 20px;
	padding-bottom: 0;
	transition: color .3s ease;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
.illustrate {
	width: 100%;
	height: 300px;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* a single (draggable) small phrase */
.label {
	margin: 10px;
	background-color: red;
	padding: 6px;
	display: inline-block;
	color: white;
	font-weight: bold;
	text-transform: capitalize;
	position: relative;
	transform: rotate(4deg);
}
.figcaption {
	padding: 6px;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
}